
h1 {
    color:rgb(55, 178, 235);
    width: device-width;
    font-size: 40px;
    text-align: center;
}
.double{
    display: flex;
}
.python_url,p,a {
    width: 30%;
    padding: 10px;
    margin:5px;
    font-size: 18px;
}
.git_about{
    width: 70%;
    padding: 10px;
    margin:20px;
    height: 620px;
    overflow: auto;
    font-size: 18px;
}
.double{
    display: flex;
    background-color: rgb(255,255,255,0.82);
    border-radius: 20px;
    
}